padding_all_30* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */
  /* fonts */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.4em;
}
.ms_text_small {
  font-size: 0.8em;
}
.bold_text {
  font-weight: bold;
}
.ms_line_height_big {
  line-height: 30px;
}
  /* distanziamenti */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.padding_all_30 {
  padding: 30px;
}
.padding_top_bottom_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding_top_bottom_15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding_left_right_15 {
  padding-left: 15px;
  padding-right: 15px;
}

.margin_top_bottom_30 {
  margin: 30px 0;
}
.margin_top_10 {
  margin-top: 10px;
}
.margin_top_bottom_10 {
  margin: 10px 0;
}

  /* links */
a {
  color:rgb(0,106,255);
}
a:hover {
  text-decoration: none;
}
.fas.fa-chevron-right.ms_chevron_small {
  font-size: 0.7em;
}

  /* colors */
.ms_text_blue {
  color: rgb(3,27,79);
}
.ms_text_lightblue {
  color:rgb(0,106,255);
}
.ms_text_white {
  color: rgb(255,255,255);
}
.ms_text_grey {
  color: rgb(116, 120, 140);
}
.grey_bg {
  background-color: rgb(242, 244, 249);
}
.gradient_bg {
  background: linear-gradient(0deg, rgba(0,33,156,255) 0%, rgba(0,71,197,255) 93%);
}

.blue_bg {
  background-color: rgb(3,27,79);
}

  /* buttons */
.ms_blue_button {
  background-color: rgb(0,106,255);
  border-color: rgb(0,106,255);
  color: rgb(255,255,255);
}
.ms_google_button {
  background-color: rgb(255,255,255);
  color: rgb(156, 156, 156);
}

/* NAVBAR */
.navbar_wrapper {
  width: 80%;
  height: 50px;
  margin: 0 auto;
}
.navbar.navbar-default {
  background-color: white;
  border: none;
}
.left_nav {
  display: inline-block;
  padding-left: 50px;
}
.right_nav {
  display: inline-block;
  float: right;
}
.navbar.navbar-default a,
.navbar-default .nav.navbar-nav a {
  color: rgb(3,27,79);
}
.navbar.navbar-default a:hover,
.navbar-default .nav.navbar-nav a:hover {
  color:rgb(0,106,255);
}
.nav>li>a {
  padding-left: 5px;
  padding-right: 5px;
}
  /* nav brand */
#nav_logo {
  max-width: 110px;
  padding-top: 4px;
}
.navbar-brand {
  padding: 10px 15px 10px 0;
}

  /* nav button */
#nav_button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  color:rgb(0,106,255);
  border-color: rgb(0,106,255);
}
.navbar-default .nav.navbar-nav #nav_button:hover {
  color: white;
  background-color: rgb(0,106,255);
}

  /* nav toggle */
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color:rgb(0,106,255);
}

/* JUMBO */
  /* jumbo top */
.ms_jumbo {
  padding-top: 57px;
  background-image: url('../img/bg_jumbotron.svg');
  background-size: cover;
  background-position: center;
}
.jumbo_box {
  background-color: white;
  border-radius: 5px;
}
.ms_jumbo .col-xs-12.col-sm-7 {
  padding-left: 0;
}
.ms_jumbo .col-xs-12.col-sm-5 {
  padding-right: 0;
}
.ms_jumbo_form_margin {
  margin-bottom: 5px;
}
.jumbo_button {
  width: 100%;
}
#jumbo_button_create:hover {
  background-color: rgb(21, 48, 176);
  border-color: rgb(21, 48, 176);
  color: rgb(255,255,255);
}
#jumbo_button_sign_up:hover {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}
#jumbo_button_sign_up > img {
  max-width: 15px;
  padding-top: 2px;
  float: left;
}
.jumbo_box p > a {
  color:rgb(0,106,255);
  text-decoration: underline;
}
.jumbo_box p > a:hover {
  color: rgb(21, 48, 176);
}

  /* jumbo bottom */
.ms_jumbo_bottom img {
  width: 100%;
  height: 90px;
}

/* MAIN */
  /* section 1 */
#section_1 .col-xs-12.col-sm-2 {
  margin-bottom: 20px;
}
#section_1 ul > li {
  list-style: none;
  padding-left: 3px;
  border-left: 1px solid rgb(156, 156, 156);
}
#section_1 ul > li:hover {
  border-left: 3px solid rgb(92, 125, 213);
}
#section_1 ul a {
  /* color: rgb(156, 156, 156); */
}
#section_1 ul a:hover {
  color:rgb(0,106,255);
}
#section_1 img {
  display: block;
  margin-bottom: 20px;
}

  /* section 2 */
.screenshot_image {
  display: inline-block;
  max-width:60%;
  background-color: white;
  margin: 30px 20px 15px;
}
.screenshot_image > img {
  width: 100%;
}
.chevron_left,
.chevron_right {
  display: inline-block;
}
.ms_slider i {
  font-size: 50px;
}

  /* section 4 */
#section_4 .table>tbody>tr>td.first_row {
  border-top: none;
}
#section_4 .table>tbody>tr>td>a {
  color: rgb(49, 201, 227);
}
#section_4 .table>tbody>tr>td>a:hover {
  color: rgb(11, 153, 162);
}
  /* section 5 */
.rockerbox-box {
  min-width: 300px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
}
#section_5 .chevron_left>a>i,
#section_5 .chevron_right>a>i {
  display: none;
}

/* GET STARTED */
#create_account {
  color: rgb(0,106,255);
  background-color: rgb(255,255,255);
}
#create_account:hover {
  color:rgb(255,255,255);
  background-color: rgb(49, 201, 227);
  border-color: rgb(255,255,255);
}

/* FOOTER */
.small_logo {
  margin: 10px 10px 10px 0;
}
.ms_copyright {
  margin-bottom: 0;
}
.social_icons i {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(116, 120, 140);
}
.social_icons i:hover {
  color:rgb(255,255,255);
}

footer ul {
  padding-left: 0;
}
footer li {
  list-style: none;
  color: rgb(116, 120, 140);
}
footer li:hover {
  color:rgb(255,255,255);
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px){
  /* navbar */
  .navbar-header {
    width: 100%;
  }
  .navbar-toggle {
    display: block;
    float:right;
  }
  .collapse.navbar-collapse .nav.navbar-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  /* rockerbox */
  .rockerbox-box {
    max-width: 500px;
  }
  #section_5 .chevron_left>a>i,
  #section_5 .chevron_right>a>i {
    display: inline-block;
  }
}



/* _DEBUG */

.ms_debug [class*="col-"] {
  border: 1px solid black;
}
